.container-slider {
    width: 495px;
    padding-left: 10px;
}

.container-speed {
  background-color: antiquewhite;
}

.container-link {
  background-color: lightgreen;
}

#btn-animate {
  margin-top: 25px; 
  margin-left: 10px;
}