/* General */

.section > .content .right-side,
.section > .content .left-side {
  flex-basis: 50%
}

.side-panel {
  position: absolute;
  height: 100%;
  overflow: scroll;
  background-color: #262626;
  font-size: 12px;
}

#right-panel {
  right: 0;
  width: 330px;
}

.section > * {
  padding: 0 10px;
  margin-bottom: 20px;
}

.section > h4 {
  background-color: #3c3c3c;
  color: #e3e3e3;
  font-size: 14px;
  font-weight: normal;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
}



/* Animation section */

#animation-section .content {
  display: flex;
}

#animation-section .right-side {
  flex-grow: 1;
}

.section label {
    margin-bottom: 5px;
}


/* Button */

.btn.r-btn {
  padding: 2px 9px;
  font-size: 12px;
}

.btn.r-btn > i {
  margin-right: 3px;
}



/* View section */

#view-section .content {
  display: flex;
}

#view-section .content > * {
  flex-basis: 50%;
}

#shading-mode-choices > * {
  display: block;
  width: 112px;
  text-align: left;
  border: 1px solid #464646;
  background-color: #1d1d1d;
  color: #b4b4b4;
  padding-top: 3px;
  padding-bottom: 3px;
  /* border-radius: 3px; */
  transition: 0.2s all ease;
}

#shading-mode-choices > *:first-child {
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


#shading-mode-choices > * > img {
  margin-right: 5px;
}

#shading-mode-choices > *:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#shading-mode-choices > *.selected {
  background-color: #626262;
  color: white;
  font-weight: bold;
  letter-spacing: 0.03em;
}

#shading-mode-choices > *:hover {
  background-color: #434343;
}

#shading-mode-choices > .selected:hover {
  background-color: #858585;
}



/* Selected object section */

#selected-section {
  overflow-x: hidden;
}

#selected-section > .content {
  margin-top: 8px;
}

#selected-utils button {
  margin-right: 8px;
}

#selected-transformational {
  display: flex;
  width: calc(100% + 12px);
  margin-top: 8px;
  margin-right: -12px;
}

#selected-transformational > * {
  display: inline-grid;
  margin-right: 12px;
  grid-template-columns: 10px auto;
  grid-row-gap: 2px;
  grid-column-gap: 3px;
  flex-basis: 33%;
}

#selected-transformational > * > .title-label {
  grid-column: 1 / span 2;
}









/* R Slider */

.r-slider-container {
  width: 100%;
  background-color: #494949;
  min-height: 23px;
  overflow: hidden;
  position: relative;
  border: 1px solid #262626;
  border-radius: 4px;
}

.r-slider-container > * {
  position: absolute;
  height: 100%;
  outline: none;
  border: none;
}

.r-slider-progress {
  width: 100%;
  background-color: #717171;
}

.r-slider-container input:focus {
  background-color: #c6c6c6;
  color: black;
}

.r-slider-container > .r-slider-obstructor {
  cursor: w-resize;
  width: 100%;
}

.r-slider-container.grabbing > .r-slider-obstructor {
  cursor: w-resize;
}

.r-slider-container.grabbing input {
  user-select: none;
}

.r-slider-container input::-webkit-outer-spin-button,
.r-slider-container input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.r-slider-container input {
    -moz-appearance:textfield; /* Firefox */
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #efefef;
}

.r-slider-container input:focus {
  background-color: #676767;
  color: white;
}



.r-slider-container > .r-slider-prev,
.r-slider-container > .r-slider-next {
    display: none;
    outline: none;
    border: none;
    color: #ffffffa6;
    background: none;
}

/* Display next & prev step only if not typing text */

.r-slider-container:not(.grabbing):hover > input:not(:focus) + * + .r-slider-prev,
.r-slider-container:not(.grabbing):hover > input:not(:focus) + * + * +.r-slider-next {
    display: block;
}

.r-slider-container > .r-slider-next {
    right: 0;
}

.r-slider-container > .r-slider-prev:hover, .r-slider-container > .r-slider-next:hover {
    color: white;
    background-color: #ffffff36;
}